
body {

  background-color: steelblue;
  background-image: url(image/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-size: 120%;
}

#encabezado {
  min-height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.opcion {
  text-align: center;
  background: white;
  
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.opcion:hover{
     background: lightgray;
}
